<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Digital Library - Admin Dashboard</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>Admin Dashboard</h1>

        <p class="subtitle">
            Welcome, <strong th:text="${user.fullName}">Administrator</strong>
        </p>

        <p>
            You are logged in as:
            <strong th:text="${user.role}">ADMIN</strong>
        </p>

        <br>

        <a href="/admin/books" class="btn primary-btn admin-btn">
            Manage Books
        </a>

        <br>
        <a href="/admin/issued-books"
           class="btn primary-btn admin-btn">
            Issued Books
        </a>

        <a href="/admin/users"
           class="btn primary-btn admin-btn">
            Registered Members
        </a>

        <br>

        <a href="/admin/fines" class="btn primary-btn admin-btn">
            Manage Fines
        </a>

        <a href="/admin/messages"
           class="btn primary-btn admin-btn">
            Contact Messages
        </a>

        <br><br>

        <a href="/logout" class="btn secondary-btn admin-btn">
            Logout
        </a>

    </div>

</div>

</body>
</html>