<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fine Management - Crosq Library</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="page-container">

    <div class="page-header">
        <div>
            <h1>Fine Management</h1>
            <p>View and manage library fines.</p>
        </div>

        <a href="/admin/dashboard" class="btn secondary-btn">
            Back to Dashboard
        </a>
    </div>

    <div class="table-container">

        <table>

            <thead>
            <tr>
                <th>Fine ID</th>
                <th>User</th>
                <th>Book</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="fine : ${fines}">

                <td th:text="${fine.id}"></td>

                <td th:text="${fine.issue.user.fullName}"></td>

                <td th:text="${fine.issue.book.title}"></td>

                <td th:text="${fine.issue.dueDate}"></td>

                <td th:text="${fine.issue.returnDate}"></td>

                <td>
                    ₹<span th:text="${fine.amount}"></span>
                </td>

                <td th:text="${fine.status}"></td>

                <td class="action-cell">

                    <form th:if="${fine.status == 'UNPAID'}"
                          th:action="@{/admin/fines/pay/{id}(id=${fine.id})}"
                          method="post">

                        <button type="submit"
                                class="btn small-btn primary-btn">
                            Mark as Paid
                        </button>

                    </form>

                    <span th:if="${fine.status == 'PAID'}">
                        Paid
                    </span>

                </td>

            </tr>

            <tr th:if="${#lists.isEmpty(fines)}">
                <td colspan="8" class="empty-state">
                    No fines found.
                </td>
            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>