<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LibraNest Library - Contact Messages </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="page-container admin-messages-page">

    <div class="page-header">
        <div>
            <h1>Contact Messages</h1>
            <p>View and manage user queries.</p>
        </div>

        <a href="/admin/dashboard" class="btn secondary-btn">
            Back to Dashboard
        </a>
    </div>

    <div class="table-container admin-messages-table-container">

        <table class="admin-messages-table">

            <thead>
            <tr>
                <th>User</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Submitted</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="message : ${messages}">

                <td class="message-user"
                    th:text="${message.user.fullName}">
                    User Name
                </td>

                <td class="message-subject"
                    th:text="${message.subject}">
                    Subject
                </td>

                <td class="message-content"
                    th:text="${message.message}">
                    Message content
                </td>

                <td class="message-date"
                    th:text="${message.createdAt}">
                    Date
                </td>

                <td>
                    <span class="message-status"
                          th:classappend="${message.status == 'RESOLVED'} ? 'resolved' : 'open'"
                          th:text="${message.status}">
                        OPEN
                    </span>
                </td>

                <td class="action-cell">

                    <form th:if="${message.status == 'OPEN'}"
                          th:action="@{/admin/messages/resolve/{id}(id=${message.id})}"
                          method="post">

                        <button type="submit"
                                class="btn small-btn primary-btn message-resolve-btn">
                            Mark Resolved
                        </button>

                    </form>

                    <span th:if="${message.status == 'RESOLVED'}"
                          class="message-resolved-text">
                        Resolved
                    </span>

                </td>

            </tr>

            <tr th:if="${#lists.isEmpty(messages)}">
                <td colspan="6" class="empty-state">
                    No contact messages found.
                </td>
            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>